
<div class="card" style="width: 14rem;">
    <div class="card-header">
      MENU
    </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href=" {% url 'change_profile' %} ">
          My Profile
          </a></li>

        <li class="list-group-item">
          <a href=" {% url 'change_password' %} ">
            Change Password         
          </a>
        </li>

        <li class="list-group-item">
          <a href=" {% url 'add_text' %} ">
          Add Post
        </a>
        </li>

        <li class="list-group-item">
          <a href=" {% url 'mytext' %} ">
            My Texts
          </a>
        </li>
        <li class="list-group-item">
          <a href=" {% url 'exit' %} ">
          Exit
          </a>
      </li>
    </ul>
</div>
